.appHeader {
  grid-area: h;
  background-color: blue;
  border-radius: 10px;

  display: grid;

  grid-template-areas: 'i g l';
  grid-template-columns: 1fr 9fr 1fr;
}

header img {
  grid-area: i;
  width: 45px;
  margin: 20px;
  border-radius: 5px;
}

h2 {
  grid-area: g;
}

.loginBlock {
  grid-area: l;
  margin-top: 30px;
}

.loginBlock a {
  color: white;
}
