.navigation {
  grid-area: n;
  background-color: darkblue;
  border-radius: 10px;
  padding: 15px;
}

.item a {
  text-decoration: none;
  color: rgb(246, 240, 240);
}

.item a.active {
  color: rgba(27, 25, 25, 0.633);
}
